<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" dir="ltr">
<head>
<script type="text/javascript"
	src="https://checkout.razorpay.com/v1/razorpay.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body >

<script type="text/javascript">
				var razorpay = new Razorpay({
				key : 'rzp_test_caQ7OMKVvbtpc3',
				image : 'https://i.imgur.com/n5tjHFD.png',
				callback_url : "https://tolocalhost.com/",
				redirect : true
			});
			razorpay.once('ready', function(response) {
				console.log(response.methods);
			})
			var datas = {
				amount : "[[${amount}]]",
				currency : "INR",
				email : 'sample@example.com',
				contact : '9999999999',
				order_id : "[[${order_id}]]",
				method : 'wallet',
				wallet : "[[${walletname}]]"
			};
			
			window.onload = myFunction;
			
			function myFunction() {
				window.onbeforeunload = () => {}
				razorpay.createPayment(datas);
				console.log(razorpay.payment_id);
				razorpay.on('payment.success', function(resp) {

					console.log("in success");
					console.log(resp.razorpay_payment_id);
					console.log(resp.razorpay_order_id);
					console.log(resp.razorpay_signature);
				});
				razorpay.on('payment.error', function(resp) {
					
				});	}
			
			 
		</script>
</body>
</html>